<html>
    <head>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <h1>Hi this is my cool website</h1>
    <p>I'm a paragraph</p>
    <img src="https://news.mit.edu/sites/mit.edu.newsoffice/files/styles/news_article_image_top_slideshow/public/images/2016/margaret-hamilton-mit-apollo-code_0.jpg?itok=rQUQuaAy" />
    <p> this is information from python ---> my name is {{ name }}</p>
</body>
</html>